html
head
    title User: #{body.firstname} #{body.lastname}
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
body  
    div.container
        .card(style = "margin-top: 5%;")
            h3.card-header Fullname: #{body.firstname} #{body.lastname}
            h3.card-header Email: #{body.email}
            h3.card-header Birthday: #{body.date}
            h3.card-header Gender: #{body.gender} 
            h3.card-header Phone number: #{body.phone}
            h3.card-header Subject: #{body.subject}